gris_oscuro = #444
azul = #22BCE0
naranja = #DD4F24

body
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background: gris_oscuro
	color white
	padding 0.5em
	position relative

	.logo
		border-right 1px solid azul
		float left
		width 60px

		img 
			width 52px

	.titular
		margin 0 80px 0 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			img
				width 50px
				border-radius 50%
		
		.flechita
			background naranja
			color white
			display block

nav
	background azul

.left
	float left
.right 
	float right
